<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051380964911-8dgbbhpc5fe7r70mkv05auktk7nvtsvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051380964911-8dgbbhpc5fe7r70mkv05auktk7nvtsvh</string>
	<key>API_KEY</key>
	<string>AIzaSyDCBV1i1LhIuGk0GP4OBUXdOfi_SXRXxts</string>
	<key>GCM_SENDER_ID</key>
	<string>1051380964911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.roadeo3</string>
	<key>PROJECT_ID</key>
	<string>roadeo-3</string>
	<key>STORAGE_BUCKET</key>
	<string>roadeo-3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051380964911:ios:9c2eda765e20d8ee11f0da</string>
</dict>
</plist>